@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using VideoGamesShop.Extensions
@using VideoGamesShop.Infrastructure.Data.Identity
@inject UserManager<ApplicationUser> userManager;

@if (User.Identity.IsAuthenticated)
{
    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
        <img src="~/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
        <span class="d-none d-md-block dropdown-toggle ps-2">@userManager.GetUserAsync(User).Result.FirstName[0]. @userManager.GetUserAsync(User).Result.LastName</span>
    </a>
}
