@using System.Security.Claims
@using VideoGamesShop.Core.Models
@using VideoGamesShop.Extensions
@model IEnumerable<GameLibraryViewModel>
@{
    ViewData["Title"] = "MyLibrary";
}
<style>
    h1 {
        font-size: 60px;
    }
</style>

<div class="small-container">
    <center><b><h1>Library</h1></b></center>
    <br />
    <br />
    <div class="row">
        @if (Model.Count() == 0)
        {
            <center> No games in library - <a class="nav-link" href="~/store/games"><span>Go To Store</span></a></center>
        }
        else
        {
            @foreach (var game in @Model)
            {
                <div class="col-2">
                    <div class="card">
                        <img src="@game.ImageUrl" class="card-img-top" alt="...">
                        <div class="card-body">
                            <center><h5 class="card-title">@game.Title</h5></center>
                            <br>
                            <center>
                                <button class="btn bg-primary" style="color: white">Play</button>
                            </center>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

